.lessons-4 {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: #f5f5f5; }
  .lessons-4 .title {
    color: #696969;
    margin-bottom: 60px; }
  .lessons-4 .block-wrapper {
    margin: 0 auto; }
    .lessons-4 .block-wrapper .box-with-icon {
      margin: 0 auto 20px; }
      .lessons-4 .block-wrapper .box-with-icon:last-child {
        margin: 0 auto; }
