.container {
  width: 1170px;
  margin: 0 auto; }

.component-wrapper {
  padding: 150px 0; }

.pull-left, .box-with-icon .icon, .box-with-icon .text-wrapper {
  float: left; }

.pull-right {
  float: right; }

.clearfix:after, .box-with-icon:after, .clearfix:before, .box-with-icon:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

.box-with-icon {
  width: 500px;
  padding: 15px;
  box-sizing: border-box; }
  .box-with-icon .icon {
    width: 22%;
    height: 100%;
    margin: 0 auto; }
    .box-with-icon .icon img {
      width: 53px; }
  .box-with-icon .text-wrapper {
    width: 78%; }
    .box-with-icon .text-wrapper .inner-title {
      margin-bottom: 20px; }
    .box-with-icon .text-wrapper .inner-text {
      line-height: 1.3; }
